{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% tailwind_css %}
</head>

<body class="bg-gradient-to-r  from-cyan-700 to-indigo-200 text-white pl-16 pr-16 pb-16 pt-2">
    <div>
        <h2
            class="text-center text-6xl font-mono font-extrabold rounded-full border-4 border-dotted p-4 shadow-2xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 uppercase">
            Accounts Page</h2>
        <section
            class="grid grid-cols-4 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 p-4 rounded-2xl space-y-2 mt-24">

            <div class="col-start-1 col-span-3">
                <h1 class="italic text-left text-xl">Username ~ {{ object.username }}</h1>
                <h2 class="text-left text-xl"> E-Mail ~ {{ object.email }}</h2>
            </div>

            {% comment %} Logout & Home Button {% endcomment %}
            <section class="space-y-2">
                <div
                    class="w-40 bg-gradient-to-r from-amber-500 via-rose-400 to-rose-600 rounded-md p-2  gap-x-10 border-4 ml-5 text-center col-start-5 col-span-2 h-10 drop-shadow-md ">
                    <a href="{% url 'logout' %}">Log Out</a>
                </div>

                <div
                    class="bg-gradient-to-r from bg-blue-500 via-indigo-600  to-blue-700 p-2 gap-2 border-4 ml-5 w-40 text-center rounded-md col-start-5 h-10">
                    <a href="{% url 'books' %}">Home</a>
                </div>
            </section>

            <br>
            <br>

            {% if bookData == None %}
            <div class="bg-gradient-to-r from-fuchsia-800 via-rose-500 to-pink-600
                p-10 rounded-lg col-start-2  col-span-2">
                <h2 class="text-center text-xl font-serif drop-shadow-2xl">No books Issued!</h2>
            </div>
        </section>
        {% else %}
        <div class="col-start-2 col-span-2">
            <section
                class="bg-gradient-to-r from-fuchsia-600 via-rose-500 to-pink-600 p-10 rounded-lg ">
                <h2 class="text-center text-xl font-serif ">Your Issued Books:</h2><br>
                <ul>
                    {% for items in bookData %}
                    <li class="italic text-3xl shadow-md shadow-black rounded-lg text-center  bg-gradient-to-r from-purple-800 via-violet-900 to-purple-800 m-2 "><a href="{{ items.get_absolute_url }}">{{ items }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        </div>
        {% endif %}
    </div>
</body>

</html>